@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}
i {
	color: #FFF;
	font-size: 40px !important;
}
a, .nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	outline: none;
}
.red, .blue {
	background-color: #be0802;
	width: 120px;
	height: 40px;
	color: #FFF;
	margin-right: 5px;
}
.blue {
	background-color: #0985c8 !important;
}
h1{font-size:28px;}
p{font-size:16px;}
body {
}
/*------ Header -------- */
.header {
	padding: 28px 0;
	}
.navbar-default {
	background-color: transparent !important;
	border: none !important;
	margin-bottom: 0;
    margin-top: 14px;
	margin-bottom: 0 !important;
}
.navbar {
	min-height: auto !important;
}
.navbar-nav {
	float: right !important;
}
.navbar-nav li {margin-right:12px;}
.navbar-nav li:last-child {
	margin-right: 0;
}
.navbar-nav li a {
	background: none !important;
	color: #000 !important;
	padding:5px !important;
	font-size: 14px;
}
/*---------- Content Area -------- */
.content-area {
	background: url(../images/content-bg.png) no-repeat;
	background-color: #fff;
	background-position: top left;
	background-size: 100%;
}
.content-area3{
	
	background-color:rgba(120, 63, 15, 0.99);
	background-position: top left;
	background-size: 100%;
	 width:100%;
	height:100%;
}
.category-wrapper {
	padding-top: 250px;
}
/*---------- Post -------- */
.button-area {
	margin: 40px 0;
}
.post {
	cursor: pointer;
	background-color: #0985c8;
	padding: 20px 0;
	text-align: center;
	margin:30px 0px 15px 0px;
	height: 150px;
}
.post-img {
	margin-bottom: 10px;
}
.post-content p {
	color: #FFF !important;
	font-size: 22px;
}

/*--------------- select dropdown custom ---------------- */
 
@supports (pointer-events: none) and ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {
 .custom-dropdown {
 position: relative;
}
 .custom-dropdown::before, .custom-dropdown::after {
 content: "";
 position: absolute;
 pointer-events: none;
}
 .custom-dropdown::after { /*  Custom dropdown arrow */
 content: "\25BC";
 height: 1em;
 font-size: 0.9em;
 line-height: 1;
 right: 0.6em;
 top: 50%;
margin-top: -.5em;
}
 .custom-dropdown::before { /*  Custom dropdown arrow cover */
 bottom: 0;
    
    right: 0;
    top: 0;
    width: 3em;
}
 .custom-dropdown__select[disabled] {
 color: rgba(0,0,0,.3);
}
 .custom-dropdown.custom-dropdown--disabled::after {
 color: rgba(0,0,0,.1);
}

    /* White dropdown style */
    .custom-dropdown--white::before {
 top:0;
 background-color: #fff;
 
}


 .custom-dropdown--white::after {
 color: rgba(127,127,127,.9);
}

    /* FF only temp fix */
    @-moz-document url-prefix() {
 .custom-dropdown__select {
padding-right: .9em
}
 .custom-dropdown--large .custom-dropdown__select {
padding-right: 1.3em
}
 .custom-dropdown--small .custom-dropdown__select {
padding-right: .5em
}
}
}
/*--------------- End select dropdown custom ---------------- */  

/*------- INNER PAGE--------- */
.inner-page{background:url(../images/inner-page-bg.png) repeat-x; padding-top:40px;}
.inner-page P{color:#8d8d8d; font-size:14px;} 
/*------- Conatct page--------- */
.contact-form{}
.contact-form h3 {
    background: #be0802;
    color: #fff;
    padding: 5px 10px;
}
.cover-logo span{
   border-right: 1px solid #666;
    color: #666;
    cursor: pointer;
    padding-right: 10px;
}
.contact-form .form-control, .contact-form button {
   
    border: medium none;
	/*border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-o-border-radius:0;*/
}
.modal-content{background-color: #ccc !important;}
.modal-footer {
	background-color: #a4a4a4 !important;
}
.contact-form select{color:#7f7f7f; padding-left:5px; font-size: 12px;
    padding: 7px 10px;}
.contact-form option {
    
	color:#7f7f7f;
}
.contact-form input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:    #7f7f7f !important;
}
.contact-form input:-moz-placeholder, textarea:-moz-placeholder { 
    color:    #7f7f7f !important;
}
.contact-form input::-moz-placeholder, textarea::-moz-placeholder { 
    color:    #7f7f7f !important;
}
.contact-form input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:    #7f7f7f !important;
}
.contact-form button ,
.modal-footer input ,
.btn{background:#be0802; color:#FFF;}
.btn:hover, .btn:focus, .btn.focus {
	color:#FFF !important;
	opacity: 0.8;
}

/*--- custom css ----*/
h3 {
	margin-top: 0 !important;
}
label {
	font-size: 12px;
}
.form-group {
	margin-bottom: 10px !important;
}
.white-bg {
	background: #FFF;
}
.bg-a4 {
	background-color: #a4a4a4;
	padding: 5px;
}
.modal-header .close {
    margin-right: 10px;
    margin-top: 5px !important;
}
#registerform .input-group-addon,
#loginform .input-group-addon {
	background-color: #000;
	-webkit-border-radius: 0;
		-moz-border-radius: 0;
			border-radius: 0;
}
#registerform i ,
#loginform i {
	color: #fff;
	font-size: 20px !important;
}
.category-wrapper .post {
	cursor: pointer;
}
.widget {
	padding:10px;

}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
	outline: none !important;
}
#image_text1 p ,
#medicineModal p {
	color: #000;
	margin-bottom: 3px;
}
#cal_data input{
padding: 5px; 
}
.modal-header h3 ,
.modal-header h4 {
	margin-bottom:0;
}
/*------- Footer --------- */
.footer{}
.footer p{color:#a3a3a3;}
@media (min-width:768px) and (max-width:1024px){
.logo img {
    display: block;
    height: auto;
    width: 100%;
}
.navbar-default{margin-top:4px; margin-bottom:0 !important;}
.navbar-nav li {
    margin-right: 6px;
}
.table-container .btn {
    margin-bottom: 10px;
}
.table  tr > td {
	padding: 6px !important;
}
}
@media (max-width:767px){
	.no-padding{padding:0 !important;}
	.bg{background-color:#2ba0db !important; margin-top:0 !important}
.header{padding:0;}
.navbar-default .navbar-toggle{border:none;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background:none !important;}
.navbar-default .navbar-toggle .icon-bar{background-color:#FFF !important;}
.navbar-toggle .icon-bar{height:3px !important;}
.navbar-nav{float:left !important}
.category-wrapper {
    padding-top: 70px;
}
.post-content p {
	font-size: 18px;
}
.logo {
	margin-bottom: 15px;
}
.table-container .btn {
	margin-bottom: 10px;
}
.table tr > td {
	font-size: 12px;
}
.content-text h1 {
	font-size: 30px;
}
}